/* Body with menu hidden */
body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

/* Menu when hidden */
.menu {
  background: #590007;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

/* Styling of the rest of the things */

.jumbotron {
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.jumbotron img {
  position: absolute;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
}
.icon-close img {
  width: 50px;
  height: 50px;
}

.icon-menu {
  cursor: pointer;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  width: 120px;
  float: left;
}

.icon-menu img {
  margin-right: 5px;
  width: 50px;
  height: 50px;
}

#description {
  font-size: 10px;
  color: #999;
  padding: 20px;
  margin-top: 300px;
}
#description a {
  color: #999;
  text-transform: none;
  font-size: 10px;
}

.slide {
  background: transparent;
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
  display: block;
  position: absolute;
}